/* Variables */
/* Partials */
/**
Imports
 */
@import url(../../../node_modules/react-image-gallery/styles/css/image-gallery.css);
@font-face {
  font-family: 'light';
  src: url("../../assets/fonts/light.otf"); }

@font-face {
  font-family: 'medium';
  src: url("../../assets/fonts/medium.otf"); }

@font-face {
  font-family: 'black-italic';
  src: url("../../assets/fonts/black-italic.otf"); }

/**
Start CSS
 */
html, body {
  color: black;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'light';
  background-color: #FEFFFF; }

ul {
  padding: 0;
  margin: 0; }

/**
Header
 */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 30px 25px;
  z-index: 100000; }

/**
Page logo
 */
.logo {
  position: relative;
  float: left;
  height: 100%;
  z-index: 1000;
  transition: all .5s ease; }
  .logo img {
    width: 250px;
    height: auto; }
    .logo img:hover {
      cursor: pointer; }

.logo-white {
  filter: invert(100);
  transition: filter .5s ease; }

/**
Toggle
 */
.toggle {
  position: relative;
  float: right;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1; }
  .toggle .bar {
    position: relative;
    width: 40px;
    height: 2px;
    background: #000;
    transition: background .5s ease; }
    .toggle .bar:before, .toggle .bar:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: inherit;
      left: 0;
      transform-origin: center center;
      transition: transform .5s ease, top .5s ease, bottom .5s ease; }
    .toggle .bar:before {
      top: -10px; }
    .toggle .bar:after {
      bottom: -10px; }
  .toggle .bar-white {
    background: #fff;
    transition: background .5s ease; }
  .toggle.clicked .bar {
    background: transparent; }
    .toggle.clicked .bar:before, .toggle.clicked .bar:after {
      background: #fff; }
    .toggle.clicked .bar:before {
      transform: rotate(45deg);
      top: 0; }
    .toggle.clicked .bar:after {
      transform: rotate(-45deg);
      bottom: 0; }

/**
Menu
 */
nav {
  position: relative;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%); }

.menu {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  transform: translateY(-100%);
  transition: 0.5s transform ease-in-out; }
  .menu .menu-list {
    width: 250px;
    margin: auto;
    text-align: center; }
    .menu .menu-list * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease; }
    .menu .menu-list li {
      display: inline-block;
      list-style: outside none none;
      width: 100%;
      padding: 0;
      text-align: center; }
    .menu .menu-list a {
      padding: 0.5em 0.8em;
      margin: 0.2em 0;
      display: block;
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      text-decoration: none;
      font-size: 2em; }
      .menu .menu-list a:before, .menu .menu-list a:after {
        height: 14px;
        width: 14px;
        position: absolute;
        content: '';
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        opacity: 0; }
      .menu .menu-list a:before {
        left: 0;
        top: 0;
        border-left: 3px solid #fff;
        border-top: 3px solid #fff;
        -webkit-transform: translate(100%, 50%);
        transform: translate(100%, 50%); }
      .menu .menu-list a:after {
        right: 0;
        bottom: 0;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        -webkit-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%); }
      .menu .menu-list a:hover {
        color: #fff; }
        .menu .menu-list a:hover:before, .menu .menu-list a:hover:after {
          -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
          opacity: 1; }
    .menu .menu-list .current a {
      color: #fff; }
      .menu .menu-list .current a:before, .menu .menu-list .current a:after {
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        opacity: 1; }

.menu-open {
  transform: translateY(0);
  transition: 0.5s transform ease-in-out; }

/**
hero
 */
.hero {
  height: 70vh;
  background-color: #000;
  padding: 0; }
  .hero .hero-image {
    display: inline-block;
    height: 100%;
    float: right; }
    .hero .hero-image img {
      width: 70%;
      height: auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto; }
  .hero .hero-text {
    height: 100%;
    float: left;
    text-align: left;
    font-family: black-italic; }
    .hero .hero-text #greeting,
    .hero .hero-text #heading,
    .hero .hero-text #function,
    .hero .hero-text #call-to-action {
      display: block;
      width: 100%; }
    .hero .hero-text #greeting {
      color: #363636;
      font-size: 40px; }
    .hero .hero-text #heading {
      color: #fff;
      font-size: 55px; }
    .hero .hero-text #function {
      color: #666666;
      font-size: 20px;
      margin-bottom: 10px; }
    .hero .hero-text #call-to-action {
      color: #666666;
      font-size: 20px; }
      .hero .hero-text #call-to-action i {
        padding: 0px 0px 0px 10px; }
    .hero .hero-text a {
      text-decoration: none; }
    .hero .hero-text div {
      width: 100%;
      margin: 0;
      padding: 0px 10vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.kifesh {
  min-height: 150vh; }

/* TABLET STYLING */
/* tablet portrait / phone landscape */
@media (max-width: 900px) {
  .landing-image {
    display: none; } }

@media screen and (max-width: 767px) and (min-width: 425px) {
  .hero {
    height: 100vh; }
    .hero .hero-text {
      height: 100%;
      text-align: center; }
    .hero .hero-image {
      display: none; } }

/* MOBILE STYLING */
@media (max-width: 425px) {
  .hero {
    height: 100vh; }
    .hero .hero-text {
      height: 55%;
      text-align: center; }
    .hero .hero-image {
      height: 45%; }
      .hero .hero-image img {
        width: 80%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; } }

/**
 Projects
 */
/* Archives */
.archives {
  margin-top: 100px; }
  .archives .archives-item {
    display: inline-block; }
    .archives .archives-item a img {
      width: 100%; }
    .archives .archives-item a h2 {
      font-size: 1.5rem;
      padding: 5px 0px;
      color: #000;
      text-align: left; }

/* Single */
.single-project {
  margin-top: 100px; }
  .single-project .single-gallery {
    float: left;
    padding-bottom: 25px; }
  .single-project .single-content {
    float: right; }
    .single-project .single-content p {
      font-size: 1.25em; }
    .single-project .single-content .single-links .link-box svg {
      font-size: 2rem; }
    .single-project .single-content .single-tags {
      margin: 10px 0px; }
      .single-project .single-content .single-tags span.tag {
        margin: 0px 5px 5px 0px;
        padding: 5px 15px;
        color: #fff;
        background: #000;
        font-family: 'medium'; }

.vertical-timeline::before {
  background: #000; }

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #000, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 1em;
  color: white; }

/**
Loading animation
 */
.loading-animation {
  text-align: center;
  padding: 20vh 0vh 20vh 0vh; }

.roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.roller div {
  animation: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px; }

.roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #000;
  margin: -3px 0 0 -3px; }

.roller div:nth-child(1) {
  animation-delay: -0.036s; }

.roller div:nth-child(1):after {
  top: 50px;
  left: 50px; }

.roller div:nth-child(2) {
  animation-delay: -0.072s; }

.roller div:nth-child(2):after {
  top: 54px;
  left: 45px; }

.roller div:nth-child(3) {
  animation-delay: -0.108s; }

.roller div:nth-child(3):after {
  top: 57px;
  left: 39px; }

.roller div:nth-child(4) {
  animation-delay: -0.144s; }

.roller div:nth-child(4):after {
  top: 58px;
  left: 32px; }

.roller div:nth-child(5) {
  animation-delay: -0.18s; }

.roller div:nth-child(5):after {
  top: 57px;
  left: 25px; }

.roller div:nth-child(6) {
  animation-delay: -0.216s; }

.roller div:nth-child(6):after {
  top: 54px;
  left: 19px; }

.roller div:nth-child(7) {
  animation-delay: -0.252s; }

.roller div:nth-child(7):after {
  top: 50px;
  left: 14px; }

.roller div:nth-child(8) {
  animation-delay: -0.288s; }

.roller div:nth-child(8):after {
  top: 45px;
  left: 10px; }

@keyframes roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*
Mousey
 */
.scroll-downs {
  position: fixed;
  right: 0;
  bottom: 25px;
  left: 0;
  margin: auto;
  width: 34px;
  height: 55px; }

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #313131;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box; }

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #313131;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite; }

@keyframes scroll {
  0% {
    opacity: 0; }
  10% {
    transform: translateY(0);
    opacity: 1; }
  100% {
    transform: translateY(15px);
    opacity: 0; } }

/* TABLET STYLING */
/* tablet portrait / phone landscape */
/* MOBILE STYLING */
@media (max-width: 425px) {
  h1.page-title {
    font-size: 60px; }
  header {
    padding: 15px 20px; }
  .logo img {
    width: 175px; } }
