/**
Loading animation
 */

.loading-animation {
    text-align: center;
    padding: 20vh 0vh 20vh 0vh;
}

.roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.roller div {
    animation: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    margin: -3px 0 0 -3px;
}

.roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/*
Mousey
 */
.scroll-downs {
    position: fixed;
    right: 0;
    bottom: 25px;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #313131;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #313131;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}
