/**
Imports
 */
@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css";


@font-face {
    font-family: 'light';
    src: url('../../assets/fonts/light.otf');
}

@font-face {
    font-family: 'medium';
    src: url('../../assets/fonts/medium.otf');
}

@font-face {
    font-family: 'black-italic';
    src: url('../../assets/fonts/black-italic.otf');
}

/**
Start CSS
 */

html, body {
    color: black;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'light';
    background-color: #FEFFFF;
}

ul {
    padding: 0;
    margin: 0;
}
