
/**
Header
 */

header {
    position: fixed;
    top: 0;
    right:0;
    left:0;
    height: 50px;
    padding: 30px 25px;
    z-index: 100000;
}

/**
Page logo
 */

.logo {
    position: relative;
    float: left;
    height: 100%;
    z-index: 1000;
    transition: all .5s ease;

    img {
        width: 250px;
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }
}


.logo-white {
    filter: invert(100);
    transition: filter .5s ease;
}

/**
Toggle
 */


.toggle {
    position: relative;
    float: right;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;

    .bar {
        position: relative;
        width: 40px;
        height: 2px;
        background: #000;
        transition: background .5s ease;

        &:before, &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: inherit;
            left: 0;
            transform-origin: center center;
            transition: transform .5s ease, top .5s ease, bottom .5s ease;
        }

        &:before {
            top: -10px;
        }

        &:after {
            bottom: -10px;
        }
    }

    .bar-white {
        background: #fff;
        transition: background .5s ease;
    }

    &.clicked {
        .bar {
            background: transparent;

            &:before, &:after {
                background: #fff;
            }

            &:before {
                transform: rotate(45deg);
                top: 0;
            }

            &:after {
                transform: rotate(-45deg);
                bottom: 0;
            }
        }
    }
}


/**
Menu
 */


nav {
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    transform: translateY(-100%);
    transition: 0.5s transform ease-in-out;

    .menu-list {
        width: 250px;
        margin: auto;
        text-align: center;

        * {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        li {
            display: inline-block;
            list-style: outside none none;
            width: 100%;
            padding: 0;
            text-align: center;
        }

        a {
            padding: 0.5em 0.8em;
            margin: 0.2em 0;
            display: block;
            color: rgba(255, 255, 255, 0.5);
            position: relative;
            text-decoration: none;
            font-size: 2em;

            &:before,
            &:after {
                height: 14px;
                width: 14px;
                position: absolute;
                content: '';
                -webkit-transition: all 0.35s ease;
                transition: all 0.35s ease;
                opacity: 0;
            }

            &:before {
                left: 0;
                top: 0;
                border-left: 3px solid #fff;
                border-top: 3px solid #fff;
                -webkit-transform: translate(100%, 50%);
                transform: translate(100%, 50%);
            }

            &:after {
                right: 0;
                bottom: 0;
                border-right: 3px solid #fff;
                border-bottom: 3px solid #fff;
                -webkit-transform: translate(-100%, -50%);
                transform: translate(-100%, -50%);
            }

            &:hover {
                color: #fff;


                &:before,
                &:after {
                    -webkit-transform: translate(0%, 0%);
                    transform: translate(0%, 0%);
                    opacity: 1;
                }
            }
        }

        .current {
            a {
                color: #fff;

                &:before,
                &:after {
                    -webkit-transform: translate(0%, 0%);
                    transform: translate(0%, 0%);
                    opacity: 1;
                }
            }
        }
    }
}

.menu-open {
    transform: translateY(0);
    transition: 0.5s transform ease-in-out;
}
