/**
hero
 */

.hero {
    height: 70vh;
    background-color: #000;
    padding: 0;


    .hero-image {
        display: inline-block;
        height: 100%;
        float: right;

        img {
            width: 70%;
            height: auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin-left: auto;
            margin-right: auto;
        }

    }

    .hero-text {
        height: 100%;
        float: left;
        text-align: left;
        font-family: black-italic;

        #greeting,
        #heading,
        #function,
        #call-to-action {
            display: block;
            width: 100%;
        }

        #greeting {
            color: #363636;
            font-size: 40px;
        }

        #heading {
            color: #fff;
            font-size: 55px;
        }

        #function {
            color: #666666;
            font-size: 20px;
            margin-bottom: 10px
        }

        #call-to-action {
            color: #666666;
            font-size: 20px;

            i {
                padding: 0px 0px 0px 10px
            }
        }

        a {
            text-decoration: none;
        }

        div {
            width: 100%;
            margin: 0;
            padding: 0px 10vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.kifesh {
    min-height: 150vh;
}


/* TABLET STYLING */
@media (max-width: 1024px) {

}

@media (max-width: 980px) {

}

/* tablet portrait / phone landscape */
@media (max-width: 900px) {

    .landing-image {
        display: none;
    }

}

@media (max-width: 768px) {

}

@media screen and (max-width: 767px) and (min-width: 425px) {

    //hero
    .hero {
        height: 100vh;

        .hero-text {
            height: 100%;
            text-align: center;
        }

        .hero-image {
            display: none;
        }
    }

}

/* MOBILE STYLING */
@media (max-width: 425px) {

    //hero
    .hero {
        height: 100vh;

        .hero-text {
            height: 55%;
            text-align: center;
        }

        .hero-image {
            height: 45%;

            img {
                width: 80%;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }


}
