/**
 Projects
 */

/* Archives */
.archives {
    margin-top: 100px;

    .archives-item {
        display: inline-block;

        a {
            img {
                width: 100%;
            }

            h2 {
                font-size: 1.5rem;
                padding: 5px 0px;
                color: #000;
                text-align: left;
            }
        }
    }
}



/* Single */


.single-project {
    margin-top: 100px;

    .single-gallery {
        float: left;
        padding-bottom: 25px;
    }

    .single-content {
        float: right;


        p {
            font-size: 1.25em;
        }

        .single-links {
            .link-box {
                svg {
                    font-size: 2rem;
                }
            }
        }

        .single-tags {
            margin: 10px 0px;

            span.tag {
                margin: 0px 5px 5px 0px;
                padding: 5px 15px;
                color: #fff;
                background: #000;
                font-family: 'medium';
            }
        }
    }
}
